#content {
    max-width: 1600px;
    margin: 0 auto;
}
@font-face {
  font-family: "Pieces of eight";
  src: url("/fonts/pieces_of_eight/Pieces of Eight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pirates Bay";
  src: url("/fonts/Piratesbay-d4YK.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: #C0D6DF;
    font-family: "Pirates Bay", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4F6D7A
}
nav a:hover {
    background-color: white;
    color: black;
}
.book, .join {
    background-color: #4F6D7A;
    color: #C0D6DF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: white;
    color: black;
}
#background {
    background-color: #4F6D7A;
}
.msg {
    background-color: #4F6D7A;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #4F6D7A;
    color: #C0D6DF;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #C0D6DF;
    text-decoration: none;
}
footer a:hover {
    color: black;
    background-color: white;
}
.social a:hover {
    color: #166088;
}
.home-title {
    color: #166088;
    font-family: "Pieces of eight";
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #166088;
}
.msg h2 {
    color: #C0D6DF;
    font-family: "Pieces of eight";
}
.msg p {
    color: #C0D6DF;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.card-img {
    width: 400px;
    border: 10px solid black;
}
.mountains {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
    color: black;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px;
}